<div class="card" style="width:200px;">
  <div class="ak">
      <form [formGroup]="frm" (ngSubmit)="AddData()">
          <h2>Student Registation</h2>
          <dt>USERName</dt>
          <input type="text" placeholder="Enter Name" name="name" class="form-control"  required formControlName="username">
          <dt>Password</dt>
          <input type="text" placeholder="Enter address" name="password" class="form-control" formControlName="password">
          <button class="btn btn-primary">Submit</button>
          </form></div></div>